# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
venv/
ENV/
*.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Database
*.db
*.sqlite3

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db
